* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: hsl(9,76%,97%);
  --primary-color: hsl(7,86%,62%);
  --container-bg: #fff;
  --secondary-color: hsl(222, 14%, 82%);
  --hover-bg: hsla(222, 14%, 82%, 0.888);
}

body {
  background: var(--bg-color);
}

h2 {
  font-family: sans;
  letter-spacing: 1.5px;
  font-size: 50px;
  color: var(--primary-color);
  display: flex;
  justify-content: flex-end;
  margin: 1em 1.2em 0 0;
}

h1 {
  font-family: sans;
  font-size: 2em;
}

.container {
  margin: 5em;
  background-color: var(--container-bg);
  width: max-content;
  height: max-content;
  float: right;
  padding: 1em 2em;
}

.header {
  font-family: sans-serif;
  font-size: 25px;
}

.sub-header {
  color: var(--secondary-color);
}

.social-buttons {
  display: flex;
  justify-content: space-around;
}

.google-btn:hover,.linkedin-btn:hover {
  cursor: pointer;
  background: var(--hover-bg);
}

.google-btn {
  padding: 8px 52px;
  background: transparent;
  border: 1px solid var(--secondary-color);
  margin: 25px 10px 0 0;
  letter-spacing: 1px;
  border-radius: 5px;
  font-weight: 700;
}

.linkedin-btn {
  padding: 8px 55px;
  background: transparent;
  border: 1px solid var(--secondary-color);
  margin: 25px 0 0 0;
  letter-spacing: 1px;
  border-radius: 5px;
  font-weight: 700;
}

.line-break {
  margin: 1em 0 0 0;
  display: flex;
  justify-content: center;
}

span {
  color: var(--secondary-color);
  font-size: 10px;
}

.horizontal-line {
  width: 35%;
  border-top: 1px solid var(--secondary-color);
  margin: 5px 1px 10px 0;
}
.horizontal-line2 {
  width: 35%;
  border-top: 1px solid var(--secondary-color);
  margin: 5px 0 10px 1px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 5px;
  font-weight: 700;
}

#user-name,#user-email,#user-password {
  padding: 0.5em;
  width: 100%;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: var(--secondary-color);
}


.terms-and-conditions {
  margin: 10px 0;
}

#accept-terms {
  cursor: pointer;
}

.create-account-btn {
  margin-top: 10px;
  width: 100%;
  padding: 0.6em 0;
  background-color: var(--primary-color);
  border: none;
}

.create-account-btn:hover {
  cursor: pointer;
  color: var(--container-bg);
  background-color: hsla(7, 86%, 62%, 0.896);
  transition: 0.5s ease-in-out;
}


.background-designs {
  position: relative;
}

.circle-design {
  position: absolute;
  background: linear-gradient(to top, #f2f4f9 20%, #8085e0 50%, #b97697 70%, #f6664b 90%);
  width: 15em;
  height: 70vh;
  border-radius: 50% 50% 10% 10% / 50% 50% 10% 10%;
  transform: rotate(145deg);
  margin-top: -12em;
  margin-left: 15em;
}

.triangle-design {
  position: absolute;
  border-radius: 50% 50% 10% 10% / 50% 50% 10% 10%;
  background: linear-gradient(to top, #f6664b 20%, #b97697 50%, #8085e0 70%);
  width: 10em;
  height: 50vh;
  transform: rotate(145deg);
  margin-top: 3em;
  margin-left: -4em;
}

.rectangle-design {
  position: absolute;
  background: linear-gradient(to top, #8085e0 20%, #b97697 50%, #f6664b 70%);
  width: 15em;
  height: 70vh;
  border-radius: 50% 50% 10% 10% / 50% 50% 10% 10%;
  transform: rotate(320deg);
  margin-top: 19em;
  margin-left: 25em;
  padding: 50px;
}

.polygon-design {
  position: absolute;
  clip-path: polygon(23% 0, 82% 0, 82% 100%, 22% 100%);
  border-radius: 50% 50% 10% 10% / 50% 50% 10% 10%;
  background: linear-gradient(to top, #f6664b 20%, #b97697 50%, #8085e0 70%);
  width: 18em;
  height: 70vh;
  border-radius: 50%;
  transform: rotate(140deg);
  margin-top: 21em;
  margin-left: -7em;
  padding: 50px;
}

@media (max-width: 479px) and (min-width: 360px) {
  body{
    overflow: hidden;
  }
  h2 {
    font-family: sans;
    letter-spacing: 1px;
    font-size: 1.5em;
    color: var(--primary-color);
  }
  h1 {
    font-size: 1.5em;
  }
  .container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
  }
  
  .google-btn {
    padding: 18px 10px 18px 10px;
    background: transparent;
    border: 1px solid var(--secondary-color);
    margin: 25px 10px 0 0;
    letter-spacing: 1px;
    border-radius: 5px;
    font-weight: 700;
  }
  
  .linkedin-btn {
    padding: 10px 10px 10px 10px;
    background: transparent;
    border: 1px solid var(--secondary-color);
    margin: 25px 0 0 0;
    letter-spacing: 1px;
    border-radius: 5px;
    font-weight: 700;
  }
  .line-break {
    margin: 1em 0;
    display: flex;
    justify-content: center;
  }
  span {
    color: var(--secondary-color);
    font-size: 1em;
  }
  
  .horizontal-line {
    width: 2em;
    border-top: 1px solid var(--secondary-color);
    margin: 9px 1px 10px 0;
  }
  .horizontal-line2 {
    width: 2em;
    border-top: 1px solid var(--secondary-color);
    margin: 9px 0 10px 1px;
  }
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 5px;
    font-weight: 700;
  }
  
  #user-name,#user-email,#user-password {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.592);
    padding: 0.5em;
    width: 100%;
  }
  
  .terms-and-conditions {
    margin: 10px 0;
  }
  .create-account-btn {
    margin-top: 10px;
    width: 100%;
    padding: 0.6em 0;
    background-color: var(--primary-color);
    border: none;
  }
  .background-designs {
    position: relative;
  }
  .circle-design {
    display: none;
  }
  .triangle-design {
    position: absolute;
    background: linear-gradient(to top, #f6664b 20%, #b97697 50%, #8085e0 70%);
    width: 10em;
    height: 40vh;
    border-radius: 50%;
    transform: rotate(-135deg);
    margin-top: -10em;
    margin-left: -4em;
    padding: 50px;
  }
  .rectangle-design {
    position: absolute;
    background: linear-gradient(to top, #f6664b 20%, #b97697 50%, #8085e0 70%);
    width: 18em;
    height: 70vh;
    border-radius: 50%;
    margin-top: 30em;
    margin-left: -10em;
    padding: 50px;
  }
  .polygon-design {
    display: none;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  body {
    overflow: hidden;
  }
  .background-designs {
    position: relative;
  }
  .circle-design {
    display: none;
  }
  .triangle-design {
    position: absolute;
    clip-path: polygon(23% 0, 82% 0, 82% 100%, 22% 100%);
    background: linear-gradient(to top, #f6664b 20%, #b97697 50%, #8085e0 70%);
    width: 10em;
    height: 40vh;
    border-radius: 50%;
    transform: rotate(-135deg);
    margin-top: -10em;
    margin-left: -4em;
    padding: 50px;
  }
  .rectangle-design {
    display: none;
  }
  .polygon-design {
    position: absolute;
    clip-path: polygon(23% 0, 82% 0, 82% 100%, 22% 100%);
    background: linear-gradient(to top, #f6664b 20%, #b97697 50%, #8085e0 70%);
    width: 18em;
    height: 70vh;
    border-radius: 50%;
    transform: rotate(140deg);
    margin-top: 30em;
    margin-left: -7em;
    padding: 50px;
  }
  .container {
    margin: 5em auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    overflow: hidden;
  }
  .background-designs {
    position: relative;
  }
  .circle-design {
    position: absolute;
    background: linear-gradient(to top, #f2f4f9 20%, #8085e0 50%, #b97697 70%, #f6664b 90%);
    width: 15em;
    height: 70vh;
    border-radius: 50% 50% 10% 10% / 50% 50% 10% 10%;
    transform: rotate(145deg);
    margin-top: -11em;
    margin-left: -8em;
  }
  .triangle-design {
    display: none;
  }
  .rectangle-design {
    position: absolute;
    background: linear-gradient(to top, #f2f4f9 20%, #8085e0 50%, #b97697 70%, #f6664b 90%);
    width: 15em;
    height: 70vh;
    border-radius: 50% 50% 10% 10% / 50% 50% 10% 10%;
    transform: rotate(330deg);
    margin-top: 25em;
    margin-left: -2em;
    padding: 50px;
  }
  .polygon-design {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1279px) {
  body {
    overflow: hidden;
  }
  .background-designs {
    position: relative;
  }
  .circle-design {
    position: absolute;
    background: linear-gradient(to top, #f2f4f9 20%, #8085e0 50%, #b97697 70%, #f6664b 90%);
    border-radius: 50% 50% 10% 10% / 50% 50% 10% 10%;
    width: 15em;
    height: 70vh;
    transform: rotate(145deg);
    margin-top: -11em;
    margin-left: 5em;
    padding: 50px;
  }
  .rectangle-design {
    position: absolute;
    background: linear-gradient(to top, #f2f4f9 20%, #8085e0 50%, #b97697 70%, #f6664b 90%);
    width: 15em;
    height: 70vh;
    border-radius: 50% 50% 10% 10% / 50% 50% 10% 10%;
    transform: rotate(330deg);
    margin-top: 19em;
    margin-left: 15em;
    padding: 50px;
  }
}

@media (min-width: 1280px) {
  body {
    overflow: hidden;
  }
}